@import "tailwindcss";

:root {
  --background: #277861;
  --background2: #f5ecda;
  --background3: #EBB599;
  --btn: #D47156;
  --foreground: #171717;
}

@theme inline {
  --color-back: var(--background);
  --color-back2: var(--background2);
  --color-back3: var(--background3);
  --color-btn: var(--btn);
  --font-poppins: var(--font-poppins);
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

.section-padding {
  padding: 2.5rem 2.5rem; 
}

@media (min-width: 1024px) {
  .section-padding {
    padding: 3.75rem 7.5rem; 
  }
}

@utility animate-marquee {
  animation: marquee 25s linear infinite;
}

@keyframes marquee {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}

